.nav_bar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 300px;
    height: 44px;
    background-color: #ff0;
}

.left,
.right{
    width: 20%;
}

.center{
    flex: 1;
}